
.hospital-page {
  padding: 40px;
  background-color: #800000;
  text-align: center;
}

.inventory-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.inventory-card {
  background: #fff;
  border: 2px solid #800000;
  border-radius: 12px;
  width: 150px;
  padding: 20px;
  color: #800000;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.hospital-page h1 {
  color: black; /* Change to any color you like */
}

.hospital-page p {
  color: black; /* Change to any color you like */
}