.hospital-page {
  padding: 40px;
  background: #dc2626;
  text-align: center;
}

.request-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.request-card {
  background: white;
  border: 2px solid #dc2626;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.request-card h3 {
  color: #b91c1c;
}

button {
  background: #dc2626;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
